<%- include('partials/header'); -%>
<br/>
<a href="/"> << Go back home</a>
<% posts.forEach(function(post) { %>

    <% if (post.title === '') { %>
        <div class="blogTitle">No data found!</div>
    <% } else { %>
        <div class="blogTitle blogHeader">
            <%= post.title %>
            <%
            let rating = 0;
            if(post.overallRating !== '' && post.overallRating !== 0) {
                rating = post.overallRating;
            }
            for (let i=0; i < rating; i++) { 
            %>
                <span class="starRating">★</span>
            <%
            } 
            for (let i=0; i < 5 - rating; i++) {
            %>
                <span class="starRating">☆</span>
            <% } %>
        </div>
        <div>
            <span>Posted by <b><%= post.author %></b> on </span>
            <span><b><%= post.timestamp %></b></span>
        </div>
        <pre>
            <div class="blogContent">
                <%= post.content; %>
            </div>
        </pre>
        <div class="blogContentTags">
            <div>
                Public: 
                <% if(post.public === 'no') { %>
                    No
                <% } else { %>
                    Yes
                <% } %>
            </div>
            <div>
                Category: 
                <% if(post.category === null || post.category === '') { %>
                    No category defined!
                <% } else { %>
                    <%= post.category %>
                <% } %>
            </div>
            <div>
                Tags: 
                <% if(post.tags === null || post.tags === '') { %>
                    No tags!
                <% } else { %>
                    <%= post.tags %>
                <% } %>
            </div>
            <div>
                Source and citations: <%= post.contentSource %>
            </div>
            <div>
                Related Posts:
                <% if(post.relatedPosts === null || post.relatedPosts === '' || post.relatedPosts.length === 0) { %>
                    No related posts!
                <% } else { %>
                    <%= post.relatedPosts %>
                <% } %>
            </div>
        </div>
        <form action="/remove" method="post">
            <button type="submit" name="id" value="<%= post._id %>" class="btn btn-primary">Purge</button>
        </form>
        <div class="blogTitle">
            Reviews
        </div>
        
        <div class="blogContent">
        <%
        if (post.reviews != null && post.reviews.length != 0) {
            post.reviews.forEach( function(review) {
                if(review.approval ==='approved') { 
        %>
                    <div><%= review.comment %></div>
                    <div>
                        <span><%= review.author %></span>
                        <% for(let i=0; i < review.rating; i++) { %>
                            <span class="starRating">★</span>
                        <% } %>
                        <% for (let i=0; i < 5 - review.rating; i++) { %>
                            <span class="starRating">☆</span>
                        <% } %>
                        <br/><br/>
                    </div>
                <% } else { %>
                    <div>
                        Review hidden (yet to be published)
                        <br/><br/>
                    </div>
                <% } %>
            <% }); %>
        <% } else { %>
            <div>
                No reviews available.
                <br/><br/>
            </div>
        <% } %>
        </div>

    <% } %>

<% }); %>

<%- include('partials/footer'); -%>
