<%- include('partials/header'); -%>
<br/>
<a href="/"> << Go back home</a>
<% posts.forEach(function(post) { %>

    <% if (post.title === '') { %>
        <div class="blogTitle">No data found!</div>
    <% } else { %>
        <div class="blogTitle blogHeader">
            <%= post.title %>
            <% 
            const ratingAmount = 3;
            for (let i=0; i < ratingAmount; i++) { %>
                <span class="starRating">★</span>
            <% } 
            for (let i=0; i < 5 - ratingAmount; i++) { %>
                <span class="starRating">☆</span>
            <% } %>
            <div>
                <span>Posted by <b><%= post.author %></b> on </span>
                <span><b><%= post.timestamp %></b></span>
            </div>
        </div>
        <div class="blogContent">
            <%= post.content; %>
        </div>
        <div class="contentSource">Overall rating: 
            <% if(post.overallRating === '' || post.overallRating === 0) { %>
                No ratings available!
            <% } else { %>
                <%= post.overallRating %>
            <% } %>
        </div>
        <div class="contentSource">
            Sourced from (citations): <%= post.contentSource %>
        </div>
        <div class="contentSource">
            Tags: 
            <% if(post.tags === null || post.tags === '') { %>
                No tags!
            <% } else { %>
                <%= post.tags %>
            <% } %>
        </div>
        <div class="contentSource">
            Related Posts:
            <% if(post.relatedPosts === null || post.relatedPosts === '' || post.relatedPosts.length === 0) { %>
                No related posts!
            <% } else { %>
                <%= post.relatedPosts %>
            <% } %>
        </div>
        <form action="/remove" method="post">
            <button type="submit" name="id" value="<%= post._id %>" class="btn btn-primary">Purge</button>
        </form>
        <div class="blogTitle">
            Reviews
        </div>
        
        <% if (post.reviews != null && post.reviews.length != 0) { %>
            <% post.reviews.forEach( function(review) { %>
                <% if(review.approval ==='approved') { %>
                    <div class="blogContent">
                        <span><%= review.author %></span>
                        <% for(let i=0; i < review.rating; i++) { %>
                            <span class="starRating">★</span>
                        <% } 
                        for (let i=0; i < 5 - review.rating; i++) { %>
                            <span class="starRating">☆</span>
                        <% } %>
                        <div><%= review.comment %></div>
                        <br/>
                    </div>
                <% } else {%>
                    <div class="blogContent">
                        Review hidden (yet to be published).
                    </div>
                    <br/>
                <% }%>
            <% }); %>
        <% } else { %>
            <div class="blogContent">
                No reviews available.
            </div>
        <% } %>

    <% } %>

<% }); %>

<!-- <h1><%= posts.title %></h1>
<p><%= posts.content %></p> -->

<%- include('partials/footer'); -%>
